# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# Покрытие тестов
htmlcov/
.coverage
coverage.xml

# Переменные окружения (секреты)
.env
.env.local

# Docker
.dockerignore

# IDE
.vscode/
.idea/